//colors
$coral: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);
$darkBrown: hsl(25, 47%, 15%);
$lightBrown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$whitish: hsl(33, 100%, 98%);

*, body{
    margin: 0;
    padding: 0;
    font-size: 18px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    margin: auto;
    margin-top: 4rem;
    background: $cream;
    
}

.topSection{
    display: flex;
    justify-content: space-between;
    border-radius: .5rem;
    background: $coral;
    color:$whitish;
    .top-left, picture{
        margin: 1rem 2rem 1rem 2rem;
    }
    .my_bal{
        margin-bottom: .5rem;
    }
    .h2{
        font-size: 3rem;
        font-weight: 700;
        
        
    }
}
.top-left{
    display: flex;
    flex-direction: column;
    
}

picture{
    display: flex;
}



//bottom section
.botSection{
    border-radius: .5rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

    background: $whitish;
    box-shadow: 3px 1px 10px $darkBrown;
    h1, .totalOutput{
        margin: 2rem;
        font-size:1.5rem;
    }
}

ul{
    list-style-type: none;
    
}
li{
    display: inline-block;
    color: $lightBrown;
}

//linebreak
.line{
    border-bottom: 3px solid $cream; 
    width: 80%;
    margin: auto;
}
.totalOutput{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1rem 0 1rem;
}

.outputLeft{
    .totalLabel{
        font-size: 1.2rem;
        color: $lightBrown;
    }

    .output{
        margin-top: .2rem;
        font-weight: 700;
        font-size: 2rem;
        color: $darkBrown;
    }
}

.outputRight{
    align-items: end;
    justify-content: end;
}
.changeFrom{
    margin-top: 2rem;
    text-align: end;
    font-size: 1.2rem;
    p{
        color: $lightBrown;
    }
}
.change{
    font-weight: 700;
}
//
.chartContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    margin-left: 3rem;
    margin-right: 3rem;
    padding: 0;
    p{
        text-align: center;
        margin-bottom: 1rem;
        color: $lightBrown;
    }

}

.rect{
background: $coral;
height: calc(190%);
width: 2rem;
border-radius: .3rem;
margin-bottom: 1rem;
}

.rect:hover{
    scale: 1.1;
    opacity: .5;

}

.rect:active{
    background-color: $cyan;
}

.rect.currentDay {
    background-color: $cyan;
  }
  


.chart{
    display: flex;
    flex-direction: column;
    height: 12em;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}

.chart-wrapper{
    width: 2.5em;
    display: flex;
    align-items: flex-end;
    height: 90%;
}

.chart-value{
    height: var(--height);
    background: var(--clr-soft-red);
    width: 100%;
    border-radius: 0.25em;
}

.chart-value.active{
    background: var(--clr-active);
}

.chart-title{
    color: var(--clr-small);
    font-size: 0.8em;
}

@media only screen and (min-width: 1000px) {
    main{
        width: 40%;
        max-width: 550px;
        margin: auto;
    }
  }